# Dependencies
node_modules/

# Build output
dist/

# Logs
logs/
*.log

# Environment and config files
.env
.env.local
.env.*.local

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific files
.DS_Store
Thumbs.db